* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  color: #555;
}

form {
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input[type="text"],
input[type="password"],
input[type="email"] {
  border-radius: 5px;
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
  margin-bottom: 10px;
  width: 100%;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

form input,
form select {
  margin-bottom: 10px;
}

::placeholder {
  color: #aaa;
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  background-color: #f7f7f7;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
}
